In [56]:
import numpy as np
import pandas as pd
import calendar

In [57]:
df = pd.read_excel("../data/denormalized-data.xlsx")
df

,Row ID,Order ID,Order Date,Delivery Date,Delivery Mode,Customer ID,Customer Name,Customer Segment,City,Country,Region,Product ID,Product Category,Sub-Category,Product Name,Unit cost,Quantity,Selling price,Discount
0,1,OrdID-2018-0000011,2018-01-06,2018-01-13,5-7 Day,CustID- 401,Selorm Addo,Consumer,Tamale,Ghana,Northern,ProdID-28000011,Electronics,Accessories_Supplies,Power Supply Module for HKC 401-2K201-D4211 HK...,150,11,212,0.074905
1,2,OrdID-2018-0000021,2018-01-06,2018-01-08,2-3 Day,CustID- 525,Peter Ankoma,Consumer,Axim,Ghana,Western,ProdID-28000021,Phone_Tablets,Mobile Phones,Apple iPhone 8 Plus Gold 64GB 256GB 4G LTE Unl...,1754,5,2105,0.000000
2,3,OrdID-2018-0000031,2018-01-06,2018-01-08,2-3 Day,CustID- 214,Priscilla Mintah,Consumer,Tamale,Ghana,Northern,ProdID-28000031,Home_Office,Furniture,Printed Chair Cover Soft Milk Silk,290,8,343,0.050000
3,4,OrdID-2018-0000041,2018-01-06,2018-01-09,2-3 Day,CustID- 030,Cecilia Esi,Home Office,Ahwiaa,Ghana,Ashanti,ProdID-28000041,Phone_Tablets,Mobile Phones,Apple iphone 8 plus locked ee red - 256 gb,1418,6,1746,0.080000
4,5,OrdID-2018-0000051,2018-01-06,2018-01-08,2-3 Day,CustID- 204,Francis Mensah,Consumer,Tarkwa,Ghana,Western,ProdID-28000051,Electronics,Accessories_Supplies,Power Supply Board Driver Board for Samsung T2...,289,10,372,0.120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,659,OrdID-2019-0006591,2019-12-22,2019-12-24,Pick up,CustID- 254,Krobo Edusei,Corporate,Tarkwa,Ghana,Western,ProdID-28000531,Phone_Tablets,Telephones_Accessories,"Telephone Cord, Phone Cord, Handset Cord, Blac...",553,8,780,0.039849
658,660,OrdID-2019-0006601,2019-12-26,2019-12-31,5-7 Day,CustID- 401,Selorm Addo,Consumer,Tamale,Ghana,Northern,ProdID-28000641,Phone_Tablets,Telephones_Accessories,iMBAPrice 50 Feet Long Telephone Extension Cor...,696,14,843,0.020000
659,661,OrdID-2019-0006611,2019-12-29,2019-12-29,Pick up,CustID- 210,Justice Nyamekye,Consumer,Bolgatanga,Ghana,Upper East,ProdID-28000171,Electronics,Accessories_Supplies,TV One 1RK-4RU-PSU 4RU 250w Power supply and a...,1121,14,1649,0.073850
660,662,OrdID-2019-0006621,2019-12-30,2019-12-31,Express 1 Day,CustID- 453,Osei Bonsu,Corporate,Tamale,Ghana,Northern,ProdID-28000691,Electronics,Home Audio,Pioneer VSX-451 AM/FM Pro-Logic Home Audio Ste...,1421,7,2104,0.125951
661,663,OrdID-2019-0006631,2019-12-30,2019-12-31,Express 1 Day,CustID- 525,Peter Ankoma,Consumer,Axim,Ghana,Western,ProdID-28000461,Phone_Tablets,Laptop_Desktop accessories,6in1 Screen Cleaning Kit Cloth Wipe Brush TV T...,1007,14,1331,0.000360

In [58]:
df["Revenue"] = df["Quantity"] * df["Selling price"]
df["Revenue"].sum()

6998937

In [59]:
df["Cost"] = df["Quantity"] * df["Unit cost"]
df["Cost"].sum()

5270143

In [60]:
df["Profit"] = df["Revenue"] - df["Cost"]
df["Profit"].sum()

1728794

In [61]:
df["Profit Margin"] = df["Profit"]/df["Revenue"]
df["Profit Margin"].mean()

0.24729130544498248

In [62]:
months = df["Order Date"].dt.month
try:
    months = months.apply(lambda x: calendar.month_abbr[x])
except(TypeError):
    months = months
# trend_df = df.groupby([months]).agg(
    # {"Revenue":"sum", "Cost":"sum", "Profit":'sum', "Profit Margin":'mean'})
order = calendar.month_abbr
trend_df = df.groupby([months])[["Revenue", "Cost", "Profit"]].sum()
trend_df["Profit Margin"] = trend_df["Profit"]/trend_df["Revenue"]
trend_df = trend_df.reindex(order, axis=0)
trend_df.dropna(inplace=True)
trend_df = trend_df.reset_index()


trend_df

   Order Date   Revenue      Cost    Profit  Profit Margin
0         Jan  506145.0  376940.0  129205.0       0.255273
1         Feb  306517.0  230723.0   75794.0       0.247275
2         Mar  767026.0  560592.0  206434.0       0.269136
3         Apr  796906.0  597874.0  199032.0       0.249756
4         May  570425.0  437312.0  133113.0       0.233358
5         Jun  298017.0  233627.0   64390.0       0.216061
6         Jul  682283.0  508509.0  173774.0       0.254695
7         Aug  496796.0  377420.0  119376.0       0.240292
8         Sep  668480.0  518723.0  149757.0       0.224026
9         Oct  682572.0  511566.0  171006.0       0.250532
10        Nov  591107.0  445823.0  145284.0       0.245783
11        Dec  632663.0  471034.0  161629.0       0.255474

In [63]:
regions_df = df.groupby('Region')["Profit"].sum().sort_values(ascending=False)
regions_df = regions_df.reset_index()
regions_df["Region"] = regions_df["Region"].str.replace("Brong-Ahafo", "Brong Ahafo")
regions_df

          Region  Profit
0       Northern  400787
1        Ashanti  245647
2  Greater Accra  208897
3          Volta  184245
4        Western  183871
5        Central  112227
6     Upper West  111352
7     Upper East  104895
8        Eastern   91101
9    Brong Ahafo   85772

In [64]:
sub_category_df = df.groupby('Sub-Category')[["Revenue", "Cost", "Profit"]].sum().sort_values(by="Revenue",ascending=False)
sub_category_df["PM Tracker"] = sub_category_df["Profit"]/sub_category_df["Revenue"]
sub_category_df.drop("Profit",axis=1, inplace=True)
sub_category_df.loc['Grand Total'] = sub_category_df[["Revenue", "Cost"]].sum()
sub_category_df["PM Tracker"].loc['Grand Total'] = sub_category_df["PM Tracker"].mean()
sub_category_df = sub_category_df.reset_index()

sub_category_df

                  Sub-Category    Revenue       Cost  PM Tracker
0                   Television  2001334.0  1539031.0    0.230997
1                Mobile Phones  1224368.0   913582.0    0.253834
2       Telephones_Accessories   894663.0   679347.0    0.240667
3                 Home_Kitchen   887160.0   662944.0    0.252735
4         Accessories_Supplies   471821.0   340528.0    0.278269
5   Laptop_Desktop accessories   441140.0   328087.0    0.256275
6          Wearable Technology   252970.0   191611.0    0.242554
7                   Home Audio   218385.0   159715.0    0.268654
8                    Furniture   182888.0   136376.0    0.254320
9                   Headphones   178267.0   131811.0    0.260598
10         Radios_Transceivers   156369.0   115778.0    0.259585
11             Office Products    59998.0    49606.0    0.173206
12      Tools_Home Improvement    29574.0    21727.0    0.265334
13                 Grand Total  6998937.0  5270143.0    0.249002

In [65]:
sub_category_df["Revenue"] = sub_category_df["Revenue"].apply(lambda x: "{:,.1f}k".format((x/1000)))
sub_category_df["Cost"] = sub_category_df["Cost"].apply(lambda x: "{:,.1f}k".format((x/1000)))
sub_category_df

                  Sub-Category   Revenue      Cost  PM Tracker
0                   Television  2,001.3k  1,539.0k    0.230997
1                Mobile Phones  1,224.4k    913.6k    0.253834
2       Telephones_Accessories    894.7k    679.3k    0.240667
3                 Home_Kitchen    887.2k    662.9k    0.252735
4         Accessories_Supplies    471.8k    340.5k    0.278269
5   Laptop_Desktop accessories    441.1k    328.1k    0.256275
6          Wearable Technology    253.0k    191.6k    0.242554
7                   Home Audio    218.4k    159.7k    0.268654
8                    Furniture    182.9k    136.4k    0.254320
9                   Headphones    178.3k    131.8k    0.260598
10         Radios_Transceivers    156.4k    115.8k    0.259585
11             Office Products     60.0k     49.6k    0.173206
12      Tools_Home Improvement     29.6k     21.7k    0.265334
13                 Grand Total  6,998.9k  5,270.1k    0.249002

In [66]:
sub_category_df["PM Tracker"] = sub_category_df["PM Tracker"].apply(lambda x: '🔴' if x<0.2
else '🟡' if x<0.25
else '🟢')

sub_category_df

                  Sub-Category   Revenue      Cost PM Tracker
0                   Television  2,001.3k  1,539.0k          🟡
1                Mobile Phones  1,224.4k    913.6k          🟢
2       Telephones_Accessories    894.7k    679.3k          🟡
3                 Home_Kitchen    887.2k    662.9k          🟢
4         Accessories_Supplies    471.8k    340.5k          🟢
5   Laptop_Desktop accessories    441.1k    328.1k          🟢
6          Wearable Technology    253.0k    191.6k          🟡
7                   Home Audio    218.4k    159.7k          🟢
8                    Furniture    182.9k    136.4k          🟢
9                   Headphones    178.3k    131.8k          🟢
10         Radios_Transceivers    156.4k    115.8k          🟢
11             Office Products     60.0k     49.6k          🔴
12      Tools_Home Improvement     29.6k     21.7k          🟢
13                 Grand Total  6,998.9k  5,270.1k          🟡

In [67]:
# def red_circle(v, props=""):
#     return props if v <0.2 else None


# sub_category_df[["PM Tracker"]] = sub_category_df[["PM Tracker"]].style.applymap(red_circle,
#  props="height: 25px; width: 25px; background-color: #c85533; border-radius: 50%;")


# sub_category_df

,Sub-Category,Revenue,Cost,PM Tracker
0,Television,"2,001.3k","1,539.0k",<pandas.io.formats.style.Styler object at 0x00...
1,Mobile Phones,"1,224.4k",913.6k,<pandas.io.formats.style.Styler object at 0x00...
2,Telephones_Accessories,894.7k,679.3k,<pandas.io.formats.style.Styler object at 0x00...
3,Home_Kitchen,887.2k,662.9k,<pandas.io.formats.style.Styler object at 0x00...
4,Accessories_Supplies,471.8k,340.5k,<pandas.io.formats.style.Styler object at 0x00...
5,Laptop_Desktop accessories,441.1k,328.1k,<pandas.io.formats.style.Styler object at 0x00...
6,Wearable Technology,253.0k,191.6k,<pandas.io.formats.style.Styler object at 0x00...
7,Home Audio,218.4k,159.7k,<pandas.io.formats.style.Styler object at 0x00...
8,Furniture,182.9k,136.4k,<pandas.io.formats.style.Styler object at 0x00...
9,Headphones,178.3k,131.8k,<pandas.io.formats.style.Styler object at 0x00...
10,Radios_Transceivers,156.4k,115.8k,<pandas.io.formats.style.Styler object at 0x00...
11,Office Products,60.0k,49.6k,<pandas.io.formats.style.Styler object at 0x00...
12,Tools_Home Improvement,29.6k,21.7k,<pandas.io.formats.style.Styler object at 0x00...
13,Grand Total,"6,998.9k","5,270.1k",<pandas.io.formats.style.Styler object at 0x00...

In [68]:

ghana_geo = pd.read_json("../data/ghana_regions.json")
ghana_geo = ghana_geo["features"]
ghana_geo

0    {'type': 'Feature', 'geometry': {'type': 'Poly...
1    {'type': 'Feature', 'geometry': {'type': 'Poly...
2    {'type': 'Feature', 'geometry': {'type': 'Mult...
3    {'type': 'Feature', 'geometry': {'type': 'Poly...
4    {'type': 'Feature', 'geometry': {'type': 'Mult...
5    {'type': 'Feature', 'geometry': {'type': 'Poly...
6    {'type': 'Feature', 'geometry': {'type': 'Poly...
7    {'type': 'Feature', 'geometry': {'type': 'Poly...
8    {'type': 'Feature', 'geometry': {'type': 'Mult...
9    {'type': 'Feature', 'geometry': {'type': 'Mult...
Name: features, dtype: object

In [69]:
import plotly.express as px
fig = px.choropleth(regions_df, geojson=ghana_geo, scope="africa", labels="Profit",locations="Region")
#fig.show()

In [70]:
#ghana_geo[0]

In [71]:
regions_geo = []
for region in ghana_geo:
    region_name = region["properties"]['NAME_1']
    geometry = region["geometry"]
    regions_geo.append({"type":"Feature", 
                        "geometry":geometry,
                        "id":region_name})
#regions_geo[0]

In [72]:
regions_geo_full = {"type":"Feature Collection", "features":regions_geo}

In [73]:
# fig = px.choropleth(regions_df, 
# geojson = regions_geo_full,
# color = regions_df["Profit"])

# fig.update_layout(
#     margin={'r':0,'t':0,'l':0,'b':0},
#     coloraxis_colorbar={
#         'title':'Profit per region',
#         'tickvals':regions_df["Profit"]     
#     }
# )
# fig.show()

In [74]:
def create_date_table(start='2018-01-01', end='2019-12-31'):
    date_df = pd.DataFrame({"Date": pd.date_range(start, end)})
    date_df["Day"] = date_df.Date.dt.day
    date_df["Month"] = date_df.Date.dt.month
    date_df["Month"] = date_df["Month"].apply(lambda x: calendar.month_abbr[x])
    date_df["Quarter"] = date_df.Date.dt.quarter
    date_df["Year"] = date_df.Date.dt.year
    return date_df

create_date_table()

          Date  Day Month  Quarter  Year
0   2018-01-01    1   Jan        1  2018
1   2018-01-02    2   Jan        1  2018
2   2018-01-03    3   Jan        1  2018
3   2018-01-04    4   Jan        1  2018
4   2018-01-05    5   Jan        1  2018
..         ...  ...   ...      ...   ...
725 2019-12-27   27   Dec        4  2019
726 2019-12-28   28   Dec        4  2019
727 2019-12-29   29   Dec        4  2019
728 2019-12-30   30   Dec        4  2019
729 2019-12-31   31   Dec        4  2019

[730 rows x 5 columns]

In [75]:
date_df = create_date_table()
date_df = date_df[date_df["Year"].isin([2019])]
date_df = date_df["Day"]
type(int(np.asarray(date_df.min())))

int

In [76]:
"".join(["Months"])

'Months'

In [77]:
df["Years"] = df["Delivery Date"].dt.year
df["Months"] = df["Delivery Date"].dt.month
df["Quarters"] = df["Delivery Date"].dt.quarter
df["Days"] = df["Delivery Date"].dt.day

period = "".join(["Months"])
df = df[df["Years"].isin([2018, 2019])]
df = df[df[period].isin([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])]

profit = df["Profit"]
profit = "{:,}".format(profit.sum())
profit

'1,728,794'

In [78]:
dict_ = df.to_dict("series")
dict_

{'Row ID': 0        1
 1        2
 2        3
 3        4
 4        5
       ...
 657    659
 658    660
 659    661
 660    662
 661    663
 Name: Row ID, Length: 662, dtype: int64,
 'Order ID': 0      OrdID-2018-0000011
 1      OrdID-2018-0000021
 2      OrdID-2018-0000031
 3      OrdID-2018-0000041
 4      OrdID-2018-0000051
               ...
 657    OrdID-2019-0006591
 658    OrdID-2019-0006601
 659    OrdID-2019-0006611
 660    OrdID-2019-0006621
 661    OrdID-2019-0006631
 Name: Order ID, Length: 662, dtype: object,
 'Order Date': 0     2018-01-06
 1     2018-01-06
 2     2018-01-06
 3     2018-01-06
 4     2018-01-06
          ...
 657   2019-12-22
 658   2019-12-26
 659   2019-12-29
 660   2019-12-30
 661   2019-12-30
 Name: Order Date, Length: 662, dtype: datetime64[ns],
 'Delivery Date': 0     2018-01-13
 1     2018-01-08
 2     2018-01-08
 3     2018-01-09
 4     2018-01-08
          ...
 657   2019-12-24
 658   2019-12-31
 659   2019-12-29
 660   2019-12-31
 661   2019-12-31
 Name: Delivery Date, Length: 662, dtype: datetime64[ns],
 'Delivery Mode': 0            5-7 Day
 1            2-3 Day
 2            2-3 Day
 3            2-3 Day
 4            2-3 Day
            ...
 657          Pick up
 658          5-7 Day
 659          Pick up
 660    Express 1 Day
 661    Express 1 Day
 Name: Delivery Mode, Length: 662, dtype: object,
 'Customer ID': 0      CustID- 401
 1      CustID- 525
 2      CustID- 214
 3      CustID- 030
 4      CustID- 204
           ...
 657    CustID- 254
 658    CustID- 401
 659    CustID- 210
 660    CustID- 453
 661    CustID- 525
 Name: Customer ID, Length: 662, dtype: object,
 'Customer Name': 0           Selorm Addo
 1          Peter Ankoma
 2      Priscilla Mintah
 3           Cecilia Esi
 4        Francis Mensah
              ...
 657        Krobo Edusei
 658         Selorm Addo
 659    Justice Nyamekye
 660          Osei Bonsu
 661        Peter Ankoma
 Name: Customer Name, Length: 662, dtype: object,
 'Customer Segment': 0         Consumer
 1         Consumer
 2         Consumer
 3      Home Office
 4         Consumer
           ...
 657      Corporate
 658       Consumer
 659       Consumer
 660      Corporate
 661       Consumer
 Name: Customer Segment, Length: 662, dtype: object,
 'City': 0          Tamale
 1            Axim
 2          Tamale
 3          Ahwiaa
 4          Tarkwa
           ...
 657        Tarkwa
 658        Tamale
 659    Bolgatanga
 660        Tamale
 661          Axim
 Name: City, Length: 662, dtype: object,
 'Country': 0      Ghana
 1      Ghana
 2      Ghana
 3      Ghana
 4      Ghana
        ...
 657    Ghana
 658    Ghana
 659    Ghana
 660    Ghana
 661    Ghana
 Name: Country, Length: 662, dtype: object,
 'Region': 0        Northern
 1         Western
 2        Northern
 3         Ashanti
 4         Western
           ...
 657       Western
 658      Northern
 659    Upper East
 660      Northern
 661       Western
 Name: Region, Length: 662, dtype: object,
 'Product ID': 0      ProdID-28000011
 1      ProdID-28000021
 2      ProdID-28000031
 3      ProdID-28000041
 4      ProdID-28000051
             ...
 657    ProdID-28000531
 658    ProdID-28000641
 659    ProdID-28000171
 660    ProdID-28000691
 661    ProdID-28000461
 Name: Product ID, Length: 662, dtype: object,
 'Product Category': 0        Electronics
 1      Phone_Tablets
 2        Home_Office
 3      Phone_Tablets
 4        Electronics
            ...
 657    Phone_Tablets
 658    Phone_Tablets
 659      Electronics
 660      Electronics
 661    Phone_Tablets
 Name: Product Category, Length: 662, dtype: object,
 'Sub-Category': 0            Accessories_Supplies
 1                   Mobile Phones
 2                       Furniture
 3                   Mobile Phones
 4            Accessories_Supplies
                   ...
 657        Telephones_Accessories
 658        Telephones_Accessories
 659          Accessories_Supplies
 660                    Home Audio
 661    Laptop_Desktop accessories
 Name: Sub-Category, Length: 662, dtype: object,
 'Product Name': 0      Power Supply Module for HKC 401-2K201-D4211 HK...
 1      Apple iPhone 8 Plus Gold 64GB 256GB 4G LTE Unl...
 2                     Printed Chair Cover Soft Milk Silk
 3             Apple iphone 8 plus locked ee red - 256 gb
 4      Power Supply Board Driver Board for Samsung T2...
                              ...
 657    Telephone Cord, Phone Cord, Handset Cord, Blac...
 658    iMBAPrice 50 Feet Long Telephone Extension Cor...
 659    TV One 1RK-4RU-PSU 4RU 250w Power supply and a...
 660    Pioneer VSX-451 AM/FM Pro-Logic Home Audio Ste...
 661    6in1 Screen Cleaning Kit Cloth Wipe Brush TV T...
 Name: Product Name, Length: 662, dtype: object,
 'Unit cost': 0       150
 1      1754
 2       290
 3      1418
 4       289
        ...
 657     553
 658     696
 659    1121
 660    1421
 661    1007
 Name: Unit cost, Length: 662, dtype: int64,
 'Quantity': 0      11
 1       5
 2       8
 3       6
 4      10
        ..
 657     8
 658    14
 659    14
 660     7
 661    14
 Name: Quantity, Length: 662, dtype: int64,
 'Selling price': 0       212
 1      2105
 2       343
 3      1746
 4       372
        ...
 657     780
 658     843
 659    1649
 660    2104
 661    1331
 Name: Selling price, Length: 662, dtype: int64,
 'Discount': 0      0.074905
 1      0.000000
 2      0.050000
 3      0.080000
 4      0.120000
          ...
 657    0.039849
 658    0.020000
 659    0.073850
 660    0.125951
 661    0.000360
 Name: Discount, Length: 662, dtype: float64,
 'Revenue': 0       2332
 1      10525
 2       2744
 3      10476
 4       3720
        ...
 657     6240
 658    11802
 659    23086
 660    14728
 661    18634
 Name: Revenue, Length: 662, dtype: int64,
 'Cost': 0       1650
 1       8770
 2       2320
 3       8508
 4       2890
        ...
 657     4424
 658     9744
 659    15694
 660     9947
 661    14098
 Name: Cost, Length: 662, dtype: int64,
 'Profit': 0       682
 1      1755
 2       424
 3      1968
 4       830
        ...
 657    1816
 658    2058
 659    7392
 660    4781
 661    4536
 Name: Profit, Length: 662, dtype: int64,
 'Profit Margin': 0      0.292453
 1      0.166746
 2      0.154519
 3      0.187858
 4      0.223118
          ...
 657    0.291026
 658    0.174377
 659    0.320194
 660    0.324620
 661    0.243426
 Name: Profit Margin, Length: 662, dtype: float64,
 'Years': 0      2018
 1      2018
 2      2018
 3      2018
 4      2018
        ...
 657    2019
 658    2019
 659    2019
 660    2019
 661    2019
 Name: Years, Length: 662, dtype: int64,
 'Months': 0       1
 1       1
 2       1
 3       1
 4       1
        ..
 657    12
 658    12
 659    12
 660    12
 661    12
 Name: Months, Length: 662, dtype: int64,
 'Quarters': 0      1
 1      1
 2      1
 3      1
 4      1
       ..
 657    4
 658    4
 659    4
 660    4
 661    4
 Name: Quarters, Length: 662, dtype: int64,
 'Days': 0      13
 1       8
 2       8
 3       9
 4       8
        ..
 657    24
 658    31
 659    29
 660    31
 661    31
 Name: Days, Length: 662, dtype: int64}

In [79]:
df1 = pd.DataFrame(dict_)
df1

,Row ID,Order ID,Order Date,Delivery Date,Delivery Mode,Customer ID,Customer Name,Customer Segment,City,Country,...,Selling price,Discount,Revenue,Cost,Profit,Profit Margin,Years,Months,Quarters,Days
0,1,OrdID-2018-0000011,2018-01-06,2018-01-13,5-7 Day,CustID- 401,Selorm Addo,Consumer,Tamale,Ghana,...,212,0.074905,2332,1650,682,0.292453,2018,1,1,13
1,2,OrdID-2018-0000021,2018-01-06,2018-01-08,2-3 Day,CustID- 525,Peter Ankoma,Consumer,Axim,Ghana,...,2105,0.000000,10525,8770,1755,0.166746,2018,1,1,8
2,3,OrdID-2018-0000031,2018-01-06,2018-01-08,2-3 Day,CustID- 214,Priscilla Mintah,Consumer,Tamale,Ghana,...,343,0.050000,2744,2320,424,0.154519,2018,1,1,8
3,4,OrdID-2018-0000041,2018-01-06,2018-01-09,2-3 Day,CustID- 030,Cecilia Esi,Home Office,Ahwiaa,Ghana,...,1746,0.080000,10476,8508,1968,0.187858,2018,1,1,9
4,5,OrdID-2018-0000051,2018-01-06,2018-01-08,2-3 Day,CustID- 204,Francis Mensah,Consumer,Tarkwa,Ghana,...,372,0.120000,3720,2890,830,0.223118,2018,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,659,OrdID-2019-0006591,2019-12-22,2019-12-24,Pick up,CustID- 254,Krobo Edusei,Corporate,Tarkwa,Ghana,...,780,0.039849,6240,4424,1816,0.291026,2019,12,4,24
658,660,OrdID-2019-0006601,2019-12-26,2019-12-31,5-7 Day,CustID- 401,Selorm Addo,Consumer,Tamale,Ghana,...,843,0.020000,11802,9744,2058,0.174377,2019,12,4,31
659,661,OrdID-2019-0006611,2019-12-29,2019-12-29,Pick up,CustID- 210,Justice Nyamekye,Consumer,Bolgatanga,Ghana,...,1649,0.073850,23086,15694,7392,0.320194,2019,12,4,29
660,662,OrdID-2019-0006621,2019-12-30,2019-12-31,Express 1 Day,CustID- 453,Osei Bonsu,Corporate,Tamale,Ghana,...,2104,0.125951,14728,9947,4781,0.324620,2019,12,4,31
661,663,OrdID-2019-0006631,2019-12-30,2019-12-31,Express 1 Day,CustID- 525,Peter Ankoma,Consumer,Axim,Ghana,...,1331,0.000360,18634,14098,4536,0.243426,2019,12,4,31