In [24]:
import numpy as np
import pandas as pd
import calendar

In [25]:
df = pd.read_excel("denormalized-data.xlsx")
df

,Row ID,Order ID,Order Date,Delivery Date,Delivery Mode,Customer ID,Customer Name,Customer Segment,City,Country,...,Sub-Category,Product Name,Unit cost,Quantity,Selling price,Discount,Revenue,months,Cost,profit
0,1,OrdID-2018-0000011,2018-01-06,2018-01-13,5-7 Day,CustID- 401,Selorm Addo,Consumer,Tamale,Ghana,...,Accessories_Supplies,Power Supply Module for HKC 401-2K201-D4211 HK...,150,11,212,0.074905,2157.322333,Jan,1650,507.322333
1,2,OrdID-2018-0000021,2018-01-06,2018-01-08,2-3 Day,CustID- 525,Peter Ankoma,Consumer,Axim,Ghana,...,Mobile Phones,Apple iPhone 8 Plus Gold 64GB 256GB 4G LTE Unl...,1754,5,2105,0.000000,10525.000000,Jan,8770,1755.000000
2,3,OrdID-2018-0000031,2018-01-06,2018-01-08,2-3 Day,CustID- 214,Priscilla Mintah,Consumer,Tamale,Ghana,...,Furniture,Printed Chair Cover Soft Milk Silk,290,8,343,0.050000,2606.800000,Jan,2320,286.800000
3,4,OrdID-2018-0000041,2018-01-06,2018-01-09,2-3 Day,CustID- 030,Cecilia Esi,Home Office,Ahwiaa,Ghana,...,Mobile Phones,Apple iphone 8 plus locked ee red - 256 gb,1418,6,1746,0.080000,9637.920000,Jan,8508,1129.920000
4,5,OrdID-2018-0000051,2018-01-06,2018-01-08,2-3 Day,CustID- 204,Francis Mensah,Consumer,Tarkwa,Ghana,...,Accessories_Supplies,Power Supply Board Driver Board for Samsung T2...,289,10,372,0.120000,3273.600000,Jan,2890,383.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,659,OrdID-2019-0006591,2019-12-22,2019-12-24,Pick up,CustID- 254,Krobo Edusei,Corporate,Tarkwa,Ghana,...,Telephones_Accessories,"Telephone Cord, Phone Cord, Handset Cord, Blac...",553,8,780,0.039849,5991.342117,Dec,4424,1567.342117
658,660,OrdID-2019-0006601,2019-12-26,2019-12-31,5-7 Day,CustID- 401,Selorm Addo,Consumer,Tamale,Ghana,...,Telephones_Accessories,iMBAPrice 50 Feet Long Telephone Extension Cor...,696,14,843,0.020000,11565.960000,Dec,9744,1821.960000
659,661,OrdID-2019-0006611,2019-12-29,2019-12-29,Pick up,CustID- 210,Justice Nyamekye,Consumer,Bolgatanga,Ghana,...,Accessories_Supplies,TV One 1RK-4RU-PSU 4RU 250w Power supply and a...,1121,14,1649,0.073850,21381.108172,Dec,15694,5687.108172
660,662,OrdID-2019-0006621,2019-12-30,2019-12-31,Express 1 Day,CustID- 453,Osei Bonsu,Corporate,Tamale,Ghana,...,Home Audio,Pioneer VSX-451 AM/FM Pro-Logic Home Audio Ste...,1421,7,2104,0.125951,12872.989646,Dec,9947,2925.989646
661,663,OrdID-2019-0006631,2019-12-30,2019-12-31,Express 1 Day,CustID- 525,Peter Ankoma,Consumer,Axim,Ghana,...,Laptop_Desktop accessories,6in1 Screen Cleaning Kit Cloth Wipe Brush TV T...,1007,14,1331,0.000360,18627.290567,Dec,14098,4529.290567

In [26]:
df["Revenue"] = df["Quantity"] * df["Selling price"]
df["Revenue"].sum()

6998937

In [27]:
df["Cost"] = df["Quantity"] * df["Unit cost"]
df["Cost"].sum()

5270143

In [28]:
df["Profit"] = df["Revenue"] - df["Cost"]
df["Profit"].sum()

1728794

In [29]:
df["Profit Margin"] = df["Profit"]/df["Revenue"]
df["Profit Margin"].mean()

0.24729130544498248

In [39]:
months = df["Order Date"].dt.month
try:
    months = months.apply(lambda x: calendar.month_abbr[x])
except(TypeError):
    months = months
# trend_df = df.groupby([months]).agg(
    # {"Revenue":"sum", "Cost":"sum", "Profit":'sum', "Profit Margin":'mean'})
order = calendar.month_abbr
trend_df = df.groupby([months])[["Revenue", "Cost", "Profit"]].sum()
trend_df["Profit Margin"] = trend_df["Profit"]/trend_df["Revenue"]
trend_df = trend_df.reindex(order, axis=0)
trend_df.dropna(inplace=True)
trend_df = trend_df.reset_index()


trend_df

   Order Date   Revenue      Cost    Profit  Profit Margin
0         Jan  506145.0  376940.0  129205.0       0.255273
1         Feb  306517.0  230723.0   75794.0       0.247275
2         Mar  767026.0  560592.0  206434.0       0.269136
3         Apr  796906.0  597874.0  199032.0       0.249756
4         May  570425.0  437312.0  133113.0       0.233358
5         Jun  298017.0  233627.0   64390.0       0.216061
6         Jul  682283.0  508509.0  173774.0       0.254695
7         Aug  496796.0  377420.0  119376.0       0.240292
8         Sep  668480.0  518723.0  149757.0       0.224026
9         Oct  682572.0  511566.0  171006.0       0.250532
10        Nov  591107.0  445823.0  145284.0       0.245783
11        Dec  632663.0  471034.0  161629.0       0.255474

In [31]:
regions_df = df.groupby('Region')["Profit"].sum().sort_values(ascending=False)
regions_df = regions_df.reset_index()
regions_df

          Region  Profit
0       Northern  400787
1        Ashanti  245647
2  Greater Accra  208897
3          Volta  184245
4        Western  183871
5        Central  112227
6     Upper West  111352
7     Upper East  104895
8        Eastern   91101
9    Brong-Ahafo   85772

In [32]:
sub_category_df = df.groupby('Sub-Category')[["Revenue", "Cost", "Profit"]].sum().sort_values(by="Revenue",ascending=False)
sub_category_df = sub_category_df.reset_index()
sub_category_df["Profit Margin"] = sub_category_df["Profit"]/sub_category_df["Revenue"]
sub_category_df.drop("Profit",axis=1, inplace=True)

                  Sub-Category  Revenue     Cost  Profit Margin
0                   Television  2001334  1539031       0.230997
1                Mobile Phones  1224368   913582       0.253834
2       Telephones_Accessories   894663   679347       0.240667
3                 Home_Kitchen   887160   662944       0.252735
4         Accessories_Supplies   471821   340528       0.278269
5   Laptop_Desktop accessories   441140   328087       0.256275
6          Wearable Technology   252970   191611       0.242554
7                   Home Audio   218385   159715       0.268654
8                    Furniture   182888   136376       0.254320
9                   Headphones   178267   131811       0.260598
10         Radios_Transceivers   156369   115778       0.259585
11             Office Products    59998    49606       0.173206
12      Tools_Home Improvement    29574    21727       0.265334